<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add blog</h1>
    <form action="/addingBlog" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title"><br><br>
        <input type="text" name="description" placeholder="Description"><br><br>
        <input type="text" name="author" placeholder="Author"><br><br>
        <input type="file" name="image" placeholder="Image"><br><br>
        <input type="submit" name="submit" value="Add Blog">
    </form>
</body>
</html>