<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="dashboard-container">
      <div class="user-info">
        <img
          src="/uploads/<%=image%>"
          alt="Profile Image"
          class="profile-image"
        />
        <h1>Welcome, <%= name %></h1>
      </div>
      <form
        action="addingBlog"
        method="Post"
        class="blog-form"
        enctype="multipart/form-data"
      >
        <h2>Add a New Blog Post</h2>
        <input type="text" placeholder="Title" name="title" />
        <textarea placeholder="Description" name="description"></textarea>
        <input type="text" name="author" placeholder="Author" />
        <input type="file" name="image" placeholder="Image" /><br /><br />
        <button type="submit" name="submit">Submit</button>
      </form>
      <a href="/logout" class="logout-btn">Log Out</a>
    </div>
  </body>
</html>
