@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  box-sizing: border-box;
}
.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 2rem !important;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.user-info {
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
  border: 2px solid rgb(86, 77, 255);
}

h1 {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

.blog-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 16px;
}

input[type="file"] {
  margin-top: 10px;
}

button[type="submit"] {
  background-color: rgb(86, 77, 255);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: rgb(103, 95, 253);
}

.logout-btn {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #e74c3c;
  font-weight: bold;
}

.logout-btn:hover {
  color: #c0392b;
}